.his {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  border-top: solid black;
  font-size: 60px;
}

.text-his {
  font-family: "Abril Fatface", cursive;
  font-family: "Volkhov", serif;
  font-size: 18px;
  padding: 20px;
}
