.live-css {
  font-family: "Train One", cursive;
  text-align: center;
  font-size: 2cm;
  border: rgb(21, 95, 21) solid;
}

.text-live {
  font-family: "Metamorphous", cursive;
  font-weight: 30px;
}

.text-brian {
  font-family: "Londrina Solid", cursive;
  font-size: 200%;
  background-color: rgb(218, 212, 212);
  padding: 40px;
  text-align: center;
}
